<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Términos y condiciones</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="css/cookies.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="shortcut icon" href="img/logo.ico" />
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        background-color: #bbe5e3;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f4bd61' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b92327' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f5af61' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23c42d2d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23f6a160' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ce3733' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f69260' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23d94139' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f7845f' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e34b3f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f8765f' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ee5545' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
      }

      main {
        margin: 20px auto;
        max-width: 1000px;
        background: #fff;
        min-height: 80vh;
        padding: 20px;
        border-radius: 10px;
      }
    </style>
  </head>

  <body>
    <main>
      <h1 class="text-center"><strong>Términos y condiciones</strong></h1>
      <div class="mt-3">
        <strong>
          A través de la plataforma digital y la aplicación móvil<br />
          Fecha: 27/05/2023<br />
          País en el que se utiliza el software: México<br />
        </strong>
      </div>
      <br />
      <div data-aos="fade-down">
        <p class="mb-4">
          Es importante leer los términos de los productos y servicios que les
          ofrece Minerva, al momento de ingresar y usar el software, usted está
          de acuerdo y sujeto a los términos y condiciones. Aunque te
          autorizamos a usar nuestros servicios, conservamos los derechos de
          propiedad intelectual sobre ellos.
        </p>
        <p class="mb-4">
          El objeto es regular el acceso y utilización del contenido, productos
          y/o servicios a disposición del público en general en el dominio
          https://www.### y en la aplicación móvil “Minerva Mobile”.
          <br />
          El titular se reserva el derecho de realizar cualquier tipo de
          modificación en el sitio web en cualquier momento y sin previo aviso,
          el usuario acepta dichas modificaciones.
          <br />
          El acceso al sitio web por parte del usuario es libre y gratuito, así
          como la utilización de este. Sin embargo, funciones más avanzadas o un
          software personalizado implican un costo para el cliente.
          <br />
          El sitio web solo admite el acceso a personas mayores de edad y no se
          hace responsable por el incumplimiento de esto.
        </p>
        <p class="mb-4">
          En estos términos ayudan a definir como nos comprometemos con ustedes,
          los usuarios. A grandes rasgos, te damos permiso para que utilices
          nuestros servicios si aceptas cumplir estos términos, que reflejan la
          forma en la que trabajamos como empresa y cómo ganamos dinero. Cuando
          hablamos de "Minerva", "nosotros", "nos" o "nuestro/a", hacemos
          referencia a Minerva y a sus entidades asociadas. Cuando hablamos de
          “usuario(s)” incluye en cierta medida al cliente.
        </p>
      </div>
      <h3><strong>Obligaciones del usuario</strong></h3>
      <ul class="list-unstyled">
        <li class="my-3">
          Usted deberá registrarse antes de utilizar el software contratado de
          acuerdo con las respectivas especificaciones de Minerva, así como
          hacer los procedimientos correspondientes dependiendo del perfil.
        </li>
        <li class="my-3">
          Usted es el único responsable de garantizar que el software sea
          adecuado para sus propósitos; En caso de duda, puede consultar un
          apartado en el mismo software donde se le da información.
        </li>
        <li class="my-3">
          Usted es el único responsable de garantizar que los entornos de
          hardware y software cumplan con los requisitos del sistema del
          software, es decir, que sean compatibles con el software. Nosotros no
          nos hacemos responsables de que en algunos dispositivos no funcione
          correctamente el software. Usted es responsable de la instalación del
          software, para la versión Móvil.
        </li>
        <li class="my-3">
          Al utilizar el software, Usted está obligado a ejercer el debido y
          apropiado uso, cuidado y diligencia.
        </li>
        <li class="my-3">
          Usted está obligado a proteger el software contra el acceso no
          autorizado de terceros mediante la adopción de las medidas adecuadas,
          especialmente para mantener seguras todas las copias del software
          contratado en un lugar protegido. Independientemente del grado de
          seguridad que tiene el software.
        </li>
        <li class="my-3">
          Al ingresar al software, nos da autorización y permiso de guardar
          datos personales.
        </li>
        <li class="my-3">
          El contenido que crees y compartas en el software será de tu propiedad
          intelectual y solo usted es responsable de lo que se encuentre dentro
          de estos. Como, los reportes de desempeño de sus alumnos.
        </li>
        <li class="my-3">
          Usted está obligado a tomar las precauciones adecuadas en caso de que
          el software no funcione total o parcialmente (por ejemplo, con la
          copia de seguridad diaria de datos).
        </li>
        <li class="my-3">
          Usted puede notificar inmediatamente a Minerva por escrito de
          cualquier defecto y error con el software.
        </li>
      </ul>
      <h3><strong>¿Qué ofrecemos?</strong></h3>
      <p class="my-3">
        Minerva ofrece un sistema web para facilitar y agilizar el trabajo
        evaluativo y administrativo de los maestros y el coordinador del Jardín
        de Niños Anglo Español.
      </p>
      <ul>
        <li>
          Proporcionar una herramienta para que los maestros del IAE almacenen y
          registren el desempeño de sus alumnos(as), para así optimizar el
          tiempo de creación y revisión de reportes de evaluación.
        </li>
        <li>
          Apoyar la comunicación entre coordinación y maestros por medio de una
          plataforma de trabajo, para evitar retrasos y errores en las Boletas
          de evaluación.
        </li>
        <li>
          Facilitar el acceso a la información de cada alumno(a) al coordinador
          correspondiente.
        </li>
        <li>
          Proporcionar un medio oficial y seguro de hacer llegar a los padres la
          información completa y privada del desempeño de sus hijos(as)
        </li>
      </ul>
      <p>
        Minerva Mobile le ofrece una aplicación móvil cuya función sea dar un
        acceso fácil y rápido a un perfil de maestro a la información que haya
        registrado anteriormente de sus alumnos.
      </p>
      <h3 class="mb-3 mt-4"><strong>Información de los usuarios</strong></h3>
      <p>
        Toda la información que usted proporcione, durante su acceso a la
        Plataforma y uso de esta, es de carácter estrictamente confidencial y
        será manipulada únicamente por personal interno de Minerva. Nos
        comprometemos a que el software tenga seguridad y protección adecuada ya
        que es la información y datos son delicados.
      </p>
      <p>
        Los usuarios están obligados a proporcionar Datos Personales verdaderos
        y fidedignos. En caso de que el Cliente diera información falsa o
        confusa, Minerva no asume responsabilidad alguna de los resultados que
        dichos actos ocasionen al Cliente, teniendo la facultad de negar el
        acceso a la Plataforma y sus Contenidos, sin perjuicio de que pueda
        requerir las indemnizaciones a que hubiere lugar.
      </p>
      <h3 class="mt-4 mb-3"><strong>Servicios</strong></h3>
      <ul class="list-unstyled">
        <li class="mb-3">
          <strong>Hospedaje:</strong> Minerva hospedará la Licencia en la nube
          de su elección (nube significa espacio de procesamiento y
          almacenamiento de datos y aplicaciones en servidores físicos). Minerva
          manifiesta que el hospedaje tiene la disponibilidad adecuada para la
          prestación de servicios. No obstante, lo anterior, Minerva no será
          responsable de cualquier caída, ausencia total o parcial de
          disponibilidad, ni de pérdida total o parcial de datos. Cualquier
          interrupción en los Servicios, por causa de disponibilidad del
          Hospedaje, no será considerado incumplimiento de Minerva. Minerva
          podrá cerrar cuentas de ciertos usuarios, (definitivamente o hasta que
          inicie sesión de nuevo) si es necesario o para optimizar el software,
          así como el ofrecimiento y/o eliminación de promociones temporales,
          permanentes o especiales. El acceso al Software depende de la
          disponibilidad de la red que tenga el Cliente, por lo que Minerva no
          será responsable por cualquier imposibilidad de acceder a la misma,
          derivada de circunstancias que se encuentren fuera de control de
          Minerva, así como por caso fortuito o de fuerza mayor.
        </li>
        <li class="mb-3">
          <strong>Instalación de la aplicación móvil:</strong> Las partes
          acuerdan que Minerva subirá la aplicación en el sitio de su elección.
        </li>
        <li>
          <strong>Mantenimiento del software:</strong> Minerva podrá realizar
          actualizaciones, correcciones y mantenimiento del software sin o con
          previo aviso a los usuarios, sin embargo, esto es para mejorar Minerva
          y con la finalidad de ofrecerle a los usuarios un software de su
          preferencia.
        </li>
      </ul>
      <h3 class="mt-4 mb-3">
        <strong
          >Responsabilidad y calidad en la prestación de los servicios</strong
        >
      </h3>
      <p>
        Los usuarios reconocen que la Plataforma es una herramienta tecnológica
        que es un medio para se pueda desarrollar los objetivos, por lo cual
        acepta que Minerva no garantiza la calidad, idoneidad y/o disponibilidad
        de los servicios brindados o solicitados a través del uso de la
        Plataforma y/o mediante su uso. el Cliente expresamente reconoce y
        acepta todos y cada uno de los riesgos derivados del uso de la
        Plataforma, liberando a Minerva de cualquier responsabilidad presente o
        futura que se pudiera presentar. En este sentido, Minerva no será
        responsable frente a los usuarios, o cualquier persona relacionada a
        este, por cualquier tipo de daño o reclamo derivado de deficiencias en
        los Servicios, o por cualquier error, omisión y/o falsedad en la
        información proporcionada por el Cliente, ya sea a través de la
        Plataforma o cualquier otro medio.
      </p>
      <h3 class="mt-4 mb-3"><strong>Enlaces a sitios de terceros</strong></h3>
      <p>
        Los enlaces en esta área le permitirán salir del sitio de Minerva. Los
        sitios vinculados no están bajo el control de Minerva y no somos
        responsables de los contenidos de ningún sitio vinculado ni de ningún
        vínculo contenido en un sitio vinculado, ni de ningún cambio o
        actualización de dichos sitios. Minerva no es responsable de la difusión
        por Internet ni de ninguna otra forma de transmisión recibida desde
        cualquier sitio vinculado. Microsoft le proporciona estos enlaces solo
        para su comodidad, y la inclusión de cualquier enlace no implica la
        aprobación del sitio por parte de Minerva.
      </p>
      <h3 class="mt-4 mb-3">
        <strong
          >Cambios y/o modificaciones a los Términos y condiciones:</strong
        >
      </h3>
      <p>
        Usted acepta que Minerva pueda realizar cambios y/o modificaciones en
        los términos y condiciones aquí presentes, en cualquier momento sin o
        con aviso previo y estar sujeto a estos.
      </p>
      <ul class="list-unstyled">
        <li>
          <a
            href="#"
            onclick="history.back(); return false;"
            style="font-size: 20px"
            >Volver</a
          >
        </li>
      </ul>
    </main>
  </body>
</html>
